<ion-view title="Home" id="page2">
  <ion-view title="Home" id="page7" hide-back-button="true">
    <ion-content padding="true" class="has-header">
      <div class="list card" id="home-card22">
        <ion-item class="item-thumbnail-left balanced" id="home-list-item6">
          <img src="http://images.clipartpanda.com/rescue-clipart-rescue-clipart-rescue-clip-art_429177.jpg">
          <h2balanced>Hey there {{currUser.displayName}}!
            <p style="white-space:normal;">Hope you're doing good! It's time to help people! </p>
          </h2balanced>
        </ion-item>
        <!--<ion-item class="item-icon-left assertive" id="home-list-item7">-->
        <!--<i class="icon ion-alert-circled"></i>Crises Assigned : {{currUser.count || 1}}-->
        <!--</ion-item>-->
      </div>
      <div class="list card" id="home-card21">
        <ion-item class="item-icon-left  bgC" id="home-list-item4">
          <i class="icon ion-alert"></i>Update Status
        </ion-item>
        <div class="item item-body" id="home-list-item-container2">
          <div class="row">
            <div class="col">
              <button id="home-button11" class="button button-balanced  button-block"
                      ng-click="updateStatus(1)" ng-disabled="state == 0">Available
              </button>
            </div>
            <div class="col">
              <button id="home-button13" class="button button-assertive button-block" ng-disabled="state == 1"
                      ng-click="updateStatus(0)">Offline
              </button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
</ion-view>
